subview()
	body
		// because there will be subviews hidden beside the stage
		// we need to limit the width of the stage to the width of the viewport
		width 100%
		overflow-x hidden
	
	$-cls = 'subview'
	$-cls-in = 'subview-in'
	$-cls-out = 'subview-out'
	$-cls-ready = 'subview-ready'
	$-cls-root = 'subview-root'
	
	.{$-cls}
		display none
		width 100%
		overflow-x hidden
	
		&:only-of-type
		&.{$-cls-root}
		&.{$-cls-in}
			display block
		&.{$-cls-ready}
		&.{$-cls-out}
			display none
